:root {
  --bg: #14471E;
  --dark: #191919;
  --dark-sea: #107ed4;
  --grey: #b8b8b8;
  --white: #fff;
  --violet: #8b57c6;
  --violet-dark: #6c3eb8;
  --light: #f6f6f7;
  --sea: #616e74;
  --dark-orange: #DA6A00;
  --salat: #68904D;
}
